$indicator-background-color: black;

body {
  margin: 1em;
}

.mobile {
	width: 320px;
	height: 480px;
	background: #ffa;
	border: 1px solid black;
}

.indicator {
	width: 100%;
	height: 20px;
	background: $indicator-background-color;
}
