$step-width: 100%;
$step-action-height: 50px;
$step-action-background-color: #fd4b4b;
$step-media-height: 180px;
$step-media-background-color: gray;
$sans: Georgia;
$sans-serif: 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
$body-font-size: 14px;
$step-button-color: white;